@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

 /* font-family: "Azeret Mono", monospace; */

/* .nav{
    margin: 30px;
    padding: 20px;
   display: flex;
   justify-content:space-between ;
} */
 .nav{
    margin: 20px;
    padding: 10px;
 }

.text-heading{
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    font-size: 28px;
    font-family: "Azeret Mono", monospace;
    color: #000000;
  
}
.buttom{

 font-weight: 300;
    font-size: 15px;
    font-family: "Azeret Mono", monospace;
   color: #000000;
   border-radius: 5px;
    

}

/* banner styles */

.banner{
     background-image: url(../images/Hero-bg.png);
   
}

.banner-text{
    padding: 15px 300px;
}
.text{
    text-align: center
}

.banner .text-h{

    font-weight: 800;
    font-size: 30px;
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
    line-height: 45px;

}

.banner .text-p{

    font-weight: 400;
    font-size: 11px;
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
    line-height: 20px;

}

 .banner .btn{
    background-color: #000000;
    color: #FFFFFF;
      font-weight: 600;
    font-size: 20px;
    font-family: "Azeret Mono", monospace;
    padding: 10px;
    border-radius: 5px;
 
 }
