@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

 /* font-family: "Azeret Mono", monospace; */


 .nav{
    margin: 20px;
    padding: 10px;
 }

.text-heading{
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    font-size: 28px;
    font-family: "Azeret Mono", monospace;
    color: #000000;
  
}
.buttom{

 font-weight: 300;
    font-size: 15px;
    font-family: "Azeret Mono", monospace;
   color: #000000;
   border-radius: 5px;
    

}

/* banner styles */

.banner{
     background-image: url(../images/Hero-bg.png);
   
}

.banner-text{
    padding: 15px 300px;
}
.text{
    text-align: center
}

.banner .text-h{

    font-weight: 800;
    font-size: 30px;
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
    line-height: 45px;

}

.banner .text-p{

    font-weight: 400;
    font-size: 11px;
    font-family: "Azeret Mono", monospace;
    color: #696D75;
    line-height: 20px;

}

 .banner .btn{
    background-color: #000000;
    color: #FFFFFF;
      font-weight: 600;
    font-size: 20px;
    font-family: "Azeret Mono", monospace;
    padding: 10px;
    border-radius: 5px;
 
 }

 /* card style */

 #card{
     margin: 50px 50px;
     padding: 50px 100px;
     background-color: rgba(13, 19, 33, 0.02); 
   
 }

 .card-text .text-h{
    
    font-weight: 800;
    font-size: 30px;
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
    

 }

 .card-text .text-p{

    font-weight: 400;
    font-size: 11px;
    font-family: "Azeret Mono", monospace;
    color: #696D75;
    line-height: 20px;


 }

 .container .text-h{
    
    font-weight: 700;
    font-size: 24px;
    font-family: "Azeret Mono", monospace;
    color: rgba(13, 19, 33, 0.7);
    line-height: 45px;

 }
 .container .text-p{

    font-weight: 400;
    font-size: 16px;
    font-family: "Azeret Mono", monospace;
    color:  #696D75;
      line-height: 30px;
  

 }

 .container .btn{

    font-weight: 600;
    font-size: 18px;
    font-family: "Azeret Mono", monospace;
    color:  #696D75;
    padding: 5px;

 }
 
 .column{
    display: flex;
    justify-content: space-between; 
}

.column-2{
    display: flex;
    gap: 50px;
    
}


.big-column{
    margin: 50px 0;
    padding: 20px 50px;
    border-radius: 10px;
    background-color: #FFFFFF;
 }
.big-column-2{
    margin: 50px 0;
    padding: 20px 50px;
    border-radius: 10px;
    background-color:#FFFFFF;
   
 }
.big-column-3{
    margin: 50px 0;
    padding: 20px 50px;
    border-radius: 10px;
    background-color:#FFFFFF;
 }

